version: "3.7"
services:
  ready-botlin:
    container_name: ready-botlin-${ENV}
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - "DISCORD_BOT_TOKEN=${BOT_TOKEN}"
        - "MONGO_CONNECTION_STRING=${MONGO_CONNECTION_STRING}"
        - "SPRING_PROFILES_ACTIVE=${ENV}"